<div class="page">
	<div class="control-group">
		<div class="controls">
	  	<%= f.text_field :name, :placeholder => 'Page name' %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
	  	<%= f.text_area :content, :rows => 10, :placeholder => 'Page content' %>
		</div>
	</div>
</div>